.header {
    background: lightgray;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.empty {
    flex: 1;
}

.plus:hover {
    color: red;
}

.plus {
    font-size: 2em;
    cursor: pointer;
}